body {
	font-size: 0.28rem;
}

/*header {
	text-align: center;
	background: #5c5c5c;
	padding-bottom: 0.3rem;
	height: 1rem;
}

header i{
	background: url(../../img/qietu.png) no-repeat;
	background-position: -3.4rem -1.1rem;
	float: left;
	height: 1rem;
	width: 1rem;
}

header span{
	float: left;
    margin-top: 0.3rem;
    color: white;
}*/

article ul{
	padding-top: 0.2rem;
}

article ul li{
	border-bottom: 0.03rem solid #edecea;
    height: 1rem;background: #FFFFFF;
}

/*article ul li i{
	float: left;
    height: 0.8rem;
    width: 1rem;
    margin: 0.1rem 0.2rem;
    text-align: center;
}*/

.xsDiv{
	float: left;
	height: 1rem;
}

.xsDivXsqd{
	float: left;
	height: 1rem;
}

.xsDescribe{
	font-size: 0.24rem;
	color: #D1D1D1;
}

.xsPrice{
    line-height: 1rem;
    float: right;
    margin-right: 0.2rem;
}

.xsPrice p{
 	color: #ED3609;;
 }

 .xsPrice span{
 	font-size: 0.24rem;
    /* text-decoration: line-through; */
    float: right;
 }

 img{
    width: 1.1rem;
    height: 0.8rem;
    margin: 0.1rem 0.2rem;
    border-radius: 10%;
    float: left;
}