<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fiscolpa.demo.mapper.CommodityMapper">

	<resultMap id="BaseResultMap" type="com.fiscolpa.demo.model.Commodity">
		<id column="commodity_id" jdbcType="VARCHAR" property="commodityId" />
		<result column="commodity_name" jdbcType="VARCHAR" property="commodityName" />
		<result column="price" jdbcType="INTEGER" property="price" />
		<result column="stock_amount" jdbcType="INTEGER" property="stockAmount" />
		<result column="account_id" jdbcType="VARCHAR" property="accountId" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="create_user" property="createUser" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="update_user" property="updateUser" jdbcType="VARCHAR" />
	</resultMap>

</mapper>