<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fiscolpa.demo.mapper.PointsUserMapper">
	<resultMap id="BaseResultMap" type="com.fiscolpa.demo.model.PointsUser">
		<id column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="user_password" property="userPassword" jdbcType="VARCHAR" />
		<result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
		<result column="user_type" property="userType" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="create_user" property="createUser" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="update_user" property="updateUser" jdbcType="VARCHAR" />
		<result column="userTypeStr" property="userTypeStr" jdbcType="VARCHAR" />
	</resultMap>
	<update id="updatePwd" parameterType="com.fiscolpa.demo.model.PointsUser" >
    update points_user 
    set user_password = #{userPassword,jdbcType=VARCHAR} 
    where user_name = #{userName,jdbcType=VARCHAR}
  	</update>
  	
  	<select id="selectUserAndUserType" parameterType="com.fiscolpa.demo.model.PointsUser" resultMap="BaseResultMap">
  		select u.*, t.describe as userTypeStr from points_user u left join account_type t on u.user_type = t.account_type_id 
  		where u.user_password = #{userPassword} and (u.user_name = #{userName} or u.phone_number = #{userName})
  	</select>
  	
  	<select id="getAllPointsUser" resultMap="BaseResultMap">
  		select * from points_user
  	</select>
</mapper>