<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fiscolpa.demo.mapper.UserAccountMapper" >
  <resultMap id="BaseResultMap" type="com.fiscolpa.demo.model.Account" >
    <id column="account_id" property="accountId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="account_balance" property="accountBalance" jdbcType="INTEGER" />
    <result column="account_type_id" property="accountTypeId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    account_id, user_id, account_balance, account_type_id, create_time, create_user, 
    update_time, update_user
  </sql>
 
  <!-- 积分余额 -->
  <select id="sumByPrimaryKey" resultType="java.lang.Integer">    
        select IFNULL(sum(account_balance),0) account_balance from account  
        where account_id = #{accountId,jdbcType=VARCHAR}
  </select>
  
  <!-- 获取账户ID -->
  <select id="getAccountByUserName" resultType="java.lang.String">    
        select account_id from account a join points_user b on a.user_id = b.user_id
        where b.user_name = #{userName,jdbcType=VARCHAR}
  </select>
  
  <update id="updateAccountByBalance" parameterType="com.fiscolpa.demo.model.Account">
  	  update account set account_balance = #{accountBalance}
  	  where account_id = #{accountId}
  </update>
</mapper>