header span{
	margin-left: 0rem;
}
.list {
	font-size: 0.28rem;
	margin-top: 0.3rem;

}
.list li {
	height: 1rem;
	line-height: 1rem;
	position: relative;
	background-color: white;
}
.list .ico2,
.list .ico3{
	margin-top: 0.2rem;
}
.list li span{
	margin-left: 0.3rem;
}
.list li i{
	float: right;
	font-size: 0.3rem;
    color: rgb(178, 174, 174);
}
.list li .i_go{
	width: 1rem;
	height: 1rem;
	/*float: right;*/
	margin-right: 0.1rem;
	background: url("../img/qietu.png") no-repeat ;
	background-size: 7.5rem 5rem;
	position: relative;
	background-position: -1.8rem -1rem;
}
.list li .i_head{
	background-size: 1rem 1rem;
	width: 1rem;
	height: 0.8rem;
	float: right;
}
.list input {
	  color: #999;
	  font-size: 0.28rem;
	  width: 100%;
	  text-align: center;
	  background-color: white;
}
.div_change{
	width:80%;
	position:absolute;
	background-color:white;
	top:20%;
	left:10%;
	display: none;
	z-index: 1000; 
	border-radius: 0.1rem;
}
.div_change p{
	  height: 0.8rem;
	  line-height: 0.8rem;
	  border-bottom: 0.02rem solid #EFEEEE;
	  color: rgb(80, 52, 249);
	  font-size: 15px;
	  padding-left: 0.2rem;
}
.mask{
	 position: absolute; 
     top: 0px; 
     filter: alpha(opacity=60); 
     background-color: #777;  
     z-index: 999; 
     left: 0px;  
     opacity:0.5; 
     -moz-opacity:0.5;
     width: 100%;
     height: 100%;
     display: none;
}