.list {
	font-size: 0.28rem;
	margin-top: 0.3rem;

}
.list li {
	height: 1rem;
	line-height: 1rem;
	position: relative;
	/*background-color: white ;*/
	margin-top: 0.2rem;
}
.list li span{
	margin-left: 5%;
}
.list li.ico1{
	background-color: white;
}
.list li.ico1 input{
	  margin-left: 5%;
	  font-size: 0.25rem;
	  height: 0.8rem;
	  line-height: 0.8rem;
	  width: 70%;
}
.list li.ico2 input{
  width: 90%;
  height: 0.9rem;
  background-color: rgb(186, 16, 16);
  border-radius: 0.1rem;
  margin-left: 5%;
  font-size: 20px;
  color: white;
}