<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="baidu-site-verification" content="UwYwsyDtXR">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>销售清单</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../static/css/head.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/search-head.css">
	<!-- <link rel="stylesheet" type="text/css" href="css/xsqd.css"> -->
	<link rel="stylesheet" type="text/css" href="../../static/css/merchant/spgl.css">
	<script type="text/javascript" src="../../static/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript">
		$(function(){  
			load();
		});
		
		function load(){
			$.get("../../getPurchaseHistory",{type:1} ,function(data){
				$("#dataSet li").remove(); 
				var list = data.pageInfo.list;
				for (var i = 0; i < list.length; i++) {
					var details = '<li><img src="../../static/img/sp2.jpg"><div class="xsDivXsqd"><p class="xsTitle">';
					details+=list[i].commodityName+'</p> <p class="xsDescribe">购买时间：';
					details+=formatDate(list[i].createTime)+'</p> <p class="xsDescribe">购买者：';
					details+=list[i].userName+'</p> </div> <div class="xsPrice"> <p>';
					details+=list[i].commodityPrice+'</p> </div> </li>';
					$("#dataSet").append(details);
					
				}
			});
		}
		
		function  formatDate(now)   {     
			return new Date(parseInt(now)).toLocaleString().substr(0,18).replace(/上午|下午/g, "") ;  
        } 
	</script>
</head>
<body>
<header>
	<i onClick="javascript:history.back(-1);"></i>
	<span>销售清单</span>
</header>

<article>

<ul id="dataSet">
	<!-- <li>
		<img src="../../static/img/sp1.jpg">
		<div class="xsDivXsqd">
			<p class="xsTitle">JD500元购物卡</p>
    		<p class="xsDescribe">购买时间：2016/01/01 11:36</p>
    		<p class="xsDescribe">购买者：18018797595</p>
		</div>
		<div class="xsPrice">
			<p>+5000000</p>		
		</div>
	</li>	 -->
	
</ul>
</article>
</body>
</html>