<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="baidu-site-verification" content="UwYwsyDtXR">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>积分发放详情</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../static/css/head.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/search-head.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/merchant/ffmx.css">
</head>
<body>
<header>
	<i></i>
	<span>积分发放详情</span>
</header>

<article>
 <div>
	<div class="tupDiv">
		<i ></i>
		<div class="rightDiv">
			<p style="padding-bottom: 0.15rem;">积分发放成功</p>
			<p style="font-size: 0.24rem; color: #D1D1D1;">发放时间：<span>2016/12/28 16:30</span></p>
		</div>
	</div>
	<p style="margin-left: 0.2rem;">
		<span style="font-size: 0.24rem; color: #D1D1D1;">积分额度：500000</span>
		<span style="font-size: 0.24rem; color: #D1D1D1;padding-left: 0.2rem;">发放人数：20</span>
	</p>
</div> 

<ul style="position: relative;">
	<li>
		<div class="xsDiv">
			<img src="../../static/img/tx1.jpg">
			<span>万子龙</span>
			<span style="    float: right;">18018797595</span>
		</div>
		<div style="    line-height: 1rem;">
			<span style="color: #ED3609;float: right;margin-right: 0.2rem;">+5000000</span>
		</div>
	</li>
	<li>
		<div class="xsDiv">
			<img src="../../static/img/tx2.jpg">
			<span>万子龙</span>
			<span style="    float: right;">18018797595</span>
		</div>
		<div style="    line-height: 1rem;">
			<span style="color: #ED3609;float: right;margin-right: 0.2rem;">+5000</span>
		</div>
	</li>
</ul>
</article>
</body>
</html>