<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="baidu-site-verification" content="UwYwsyDtXR">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>商户注册</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../static/css/head.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/search-head.css">
	  <link rel="stylesheet" type="text/css" href="../../static/css/merchant/shzc.css">
</head>
<body>
<header>
	<i></i>
	<span>商户注册</span>
</header>

<article class="list">

<ul>
	<li class="ico1">
	   <span>商户名称</span>
       <input type="text" name="" class="input_text" placeholder="请输入名称">
	</li>

    <li class="ico2">
       <span>联系方式</span>
       <input type="text" name="" class="input_text" placeholder="请输入联系方式">
    </li>

    <li class="ico3">
       <span  style="margin-right: 0.56rem;">密码</span>
       <input type="text" name="" class="input_text" placeholder="请输入密码">
    </li>
    <li  class="ico3">
       <span >确认密码</span>
       <input type="text" name="" class="input_text" placeholder="请再次输入密码">
    </li>
</ul>
</article>

<footer>
    <button class="btn_sure" id="login">确认</button>
</footer>

</body>
</html>     